body {
    margin: 0;
    padding: 0;
}

/* Hack: TOCの直後に改ページ */
body h1[data-number="1"] {
    page-break-before: always;
}

body table {
    margin: 0 auto;
}

body figure {
    display: flex;
    justify-content: center;
    align-items: center;
}